    <div class="jumbotronpricing">
      <div class="container">
      <div class="row-fluid">
        <div class="col-sm-6">
          &nbsp; &nbsp; &nbsp; &nbsp; 
          <%= link_to image_tag("googleplay.png"), {:class => ""}%> <br>
          <%= link_to image_tag("appstore.png"), {:class => ""}%>
        </div>
      </div>
        <div class="col-sm-6">
        <br><br>
          <h1>download now</h1>
        </div>
      </div>
    </div>
    <br>

   