<div class="jumbotron">
  <div class="container text-center">
    <h3><span style="color: #1386A8;"> faq </span><span style="color: black;">mobile</span><span style="color: #535353;">.</span></h3>
    <br>
    <%= link_to image_tag("home_page.png"), {:class => ""}%> <br>
  </div>
</div>

