    <div class="jumbotronfeatures">
      <div class="container">
      <div class="row-fluid">
        <div class="col-sm-6">
          <h1>create custom forms to use</h1>
          <h1>on your <span style="color:#A7D590;">mobile device.</span></h1>
        </div>
      </div>
        <div class="col-sm-6">
          &nbsp;&nbsp;
          <%= link_to image_tag("features_page_one.png"), {:class => ""}%>
        </div>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <div class="row-fluid">
          <div class="col-sm-6">
              <%= link_to image_tag("features_page_two.png"), {:class => ""}%>
          </div>
          <div class="col-sm-6">
            <p id="featparagraph">Lorem ipsum dolor sit amet, consecte- tur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam- co laboris nisi ut aliquip ex ea commo- do consequat. Duis aute irure dolor.</p>
          </div>
        </div>
      </div>
    </div>