    <div class="jumbotronpricing">
      <div class="container">
      <div class="row-fluid">
        <div class="col-sm-6">
          &nbsp; &nbsp; &nbsp; &nbsp; 
          <%= link_to image_tag("pricing_page_one.png"), {:class => ""}%>
        </div>
      </div>
        <div class="col-sm-6">
          <h1>pay for what you need,</h1>
          <h1>not what you <span style="color: #FC7B23;">don't.</span></h1>
        </div>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <div class="row-fluid">
          <div class="col-sm-6">
            <p id="featparagraph">Lorem ipsum dolor sit amet, consecte- tur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam- co laboris nisi ut aliquip ex ea commo- do consequat. Duis aute irure dolor.</p>
          </div>
          <div class="col-sm-6">
            <%= link_to image_tag("pricing_page_two.png"), {:class => ""}%>
          </div>
        </div>
      </div>
    </div>