<div class="container">
	
	<div class="row" style="padding-top:20px; padding-bottom:40px;">
		
		<!--inner left container-->
		<div class="col-md-5">
	
			<!--top-->
			<div class="row" style="padding-bottom:10px;">
				<div class="col-md-12 ">
					<button type="button" class="btn btn-success">Save</button>
					<button type="button" class="btn btn-warning">Preview</button>
						
				</div><!--ends col-md-10-->
			</div><!--ends row-->

			<!--bottom-->
			<div class="row">
				<div class="col-md-12">
					<button type="button" class="btn btn-primary btn-lg btn-block"><span data-icon="&#xe097;" class="pull-left">&nbsp;text Box</span><span data-icon="&#xe093;" class="pull-right"></span></button>
					<button type="button" class="btn btn-primary btn-lg btn-block"><span data-icon="&#xe096;" class="pull-left">&nbsp;text area</span><span data-icon="&#xe093;" class="pull-right"></span></button>
					<button type="button" class="btn btn-primary btn-lg btn-block"><span data-icon="&#xe086;" class="pull-left">&nbsp;check boxes</span><span data-icon="&#xe093;" class="pull-right"></span></button>
					<button type="button" class="btn btn-primary btn-lg btn-block"><span data-icon="&#xe029;" class="pull-left">&nbsp;signature</span><span data-icon="&#xe093;" class="pull-right"></span></button>
				</div><!--ends col-md-6-->
			</div><!--ends row-->

		</div><!--ends inner left container-->
		
		<!--inner right container-->
		<div class="col-md-7">
			
			<!--top-->
			<div class="row">
				<div class="col-md-6">
					<div class="btn-group">
						<p>
							<span data-icon="&#xe082;" style="color: #1386A8;">&nbsp;&nbsp;Brad's templates permissions</span>
						</p>
					</div><!--ends btn-group-->
				</div><!--ends col-md-6-->
			</div><!--ends row-->

			<!--bottom-->
			<div class="row">
				<div class="col-md-12">
					<table class="table table-striped">
						<tr>
							<td data-icon="&#xe087;"></td>
							<td>Sample Form</td>
						</tr>
						<tr>
							<td data-icon="&#xe087;"></td>
							<td>Sample Form</td>
						</tr>
						<tr>
							<td data-icon="&#xe087;"></td>
							<td>Sample Form</td>
						</tr>
						<tr>
							<td data-icon="&#xe087;"></td>
							<td>Sample Form</td>
						</tr>
						<tr>
							<td data-icon="&#xe087;"></td>
							<td>Sample Form</td>
						</tr>
						<tr>
							<td data-icon="&#xe087;"></td>
							<td>Sample Form</td>
						</tr>
						<tr>
							<td data-icon="&#xe087;"></td>
							<td>Sample Form</td>
						</tr>
						<tr>
							<td data-icon="&#xe087;"></td>
							<td>Sample Form</td>
						</tr>
						
						
					</table><!--ends table-->
				</div><!-- ends col-md-6 -->
			</div><!--ends row-->

			

		</div><!--ends inner right container-->
	
	</div><!--end row-->

</div><!--ends container-->