<div class="container accountcontainer">
	
	<div class="row" style="padding-top:20px; padding-bottom:40px;">
		
		<!--inner left container-->
		<div class="col-md-5">
	
			<!--top-->
			<div class="row">
				<div class="col-md-12 ">
					
						<p>
							<span data-icon="&#xe001;" style="color: #444444;">&nbsp;&nbsp;select contact</span>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="btn btn-warning">add new contact</button>
						</p>
						
				</div><!--ends col-md-10-->
			</div><!--ends row-->

			<!--bottom-->
			<div class="row">
				<div class="col-md-12">
					<table class="table">
						<tr>
							<td>Brad Donaldson</td>
						</tr>
						<tr>
							<td>Brad Donaldson</td>
						</tr>
						<tr>
							<td>Brad Donaldson</td>
						</tr>
						<tr>
							<td>Brad Donaldson</td>
						</tr>
					</table><!--ends table-->
				</div><!--ends col-md-6-->
			</div><!--ends row-->

		</div><!--ends inner left container-->
		
		<!--inner right container-->
		<div class="col-md-7">
			
			<!--top-->
			<div class="row">
				<div class="col-md-6">
					<div class="btn-group">
						<p>
							<span data-icon="&#xe082;" style="color: #1386A8;">&nbsp;&nbsp;Brad's templates permissions</span>
						</p>
					</div><!--ends btn-group-->
				</div><!--ends col-md-6-->
			</div><!--ends row-->

			<!--bottom-->
			<div class="row">
				<div class="col-md-12">
					<table class="table table-striped">
						<tr>
							<td data-icon="&#xe087;"></td>
							<td>Sample Form</td>
						</tr>
						<tr>
							<td data-icon="&#xe087;"></td>
							<td>Sample Form</td>
						</tr>
						<tr>
							<td data-icon="&#xe087;"></td>
							<td>Sample Form</td>
						</tr>
						<tr>
							<td data-icon="&#xe087;"></td>
							<td>Sample Form</td>
						</tr>
						<tr>
							<td data-icon="&#xe087;"></td>
							<td>Sample Form</td>
						</tr>
						<tr>
							<td data-icon="&#xe087;"></td>
							<td>Sample Form</td>
						</tr>
						<tr>
							<td data-icon="&#xe087;"></td>
							<td>Sample Form</td>
						</tr>
						<tr>
							<td data-icon="&#xe087;"></td>
							<td>Sample Form</td>
						</tr>
						
						
					</table><!--ends table-->
				</div><!-- ends col-md-6 -->
			</div><!--ends row-->

			<div class="row">
				<div class="col-md-2">
					<div class="btn-group">
						
						<button type="button" class="btn btn-default">
							<span data-icon="&#xe091;"></span>
						</button>
						<button type="button" class="btn btn-default">
							<span data-icon="&#xe094;"></span>
						</button>

						<div class="col-md-2 col-md-offset-3">
							<div class="container">
								<button type="submit" class="btn btn-success">update</button>
							</div>
						</div>

					</div><!--ends button group-->
				</div><!--ends col-md-2-->
			</div><!--ends row-->

		</div><!--ends inner right container-->
	
	</div><!--end row-->

</div><!--ends container-->