<div class="row" style="padding-top:30px;">
	<div class="container">
		<div class="col-md-offset-10 col-md-2 ">
			<span data-icon="&#xe091;"></span>
			<span data-icon="&#xe094;"></span>
		</div>
	</div>
</div>

<div class="row" style="padding-top:10px; padding-bottom:30px;">
	<div class="container">
		<div class="col-md-2">
			<span data-icon="&#xe082;">&nbsp;&nbsp;templates</span>
		</div>
		<div class="col-md-4">
			<span data-icon="&#xe083;">&nbsp;&nbsp;completed forms</span>
		</div>
	</div>
</div>

<!--list of templates below-->
<div class="row" style="padding-bottom:30px;">
	<div class="container">
		<div class="col-md-12">
			<table class="table table-striped">
				<tr>
					<td>Sample Form</td>
					<td><em>Shared with Jon, Brad &amp; Jason</em></td>
					<td data-icon="&#xe016;"></td>
					<td data-icon="&#xe029;"></td>
					<td data-icon="&#xe085;"></td>
				</tr>
				<tr>
					<td>Sample Form</td>
					<td><em>Shared with Jon, Brad &amp; Jason</em></td>
					<td data-icon="&#xe016;"></td>
					<td data-icon="&#xe029;"></td>
					<td data-icon="&#xe085;"></td>
				</tr>
				<tr>
					<td>Sample Form</td>
					<td><em>Shared with Jon, Brad &amp; Jason</em></td>
					<td data-icon="&#xe016;"></td>
					<td data-icon="&#xe029;"></td>
					<td data-icon="&#xe085;"></td>
				</tr>
				<tr>
					<td>Sample Form</td>
					<td><em>Shared with Jon, Brad &amp; Jason</em></td>
					<td data-icon="&#xe016;"></td>
					<td data-icon="&#xe029;"></td>
					<td data-icon="&#xe085;"></td>
				</tr>
				<tr>
					<td>Sample Form</td>
					<td><em>Shared with Jon, Brad &amp; Jason</em></td>
					<td data-icon="&#xe016;"></td>
					<td data-icon="&#xe029;"></td>
					<td data-icon="&#xe085;"></td>
				</tr>
				<tr>
					<td>Sample Form</td>
					<td><em>Shared with Jon, Brad &amp; Jason</em></td>
					<td data-icon="&#xe016;"></td>
					<td data-icon="&#xe029;"></td>
					<td data-icon="&#xe085;"></td>
				</tr>
				<tr>
					<td>Sample Form</td>
					<td><em>Shared with Jon, Brad &amp; Jason</em></td>
					<td data-icon="&#xe016;"></td>
					<td data-icon="&#xe029;"></td>
					<td data-icon="&#xe085;"></td>
				</tr>
				<tr>
					<td>Sample Form</td>
					<td><em>Shared with Jon, Brad &amp; Jason</em></td>
					<td data-icon="&#xe016;"></td>
					<td data-icon="&#xe029;"></td>
					<td data-icon="&#xe085;"></td>
				</tr>
				<tr>
					<td>Sample Form</td>
					<td><em>Shared with Jon, Brad &amp; Jason</em></td>
					<td data-icon="&#xe016;"></td>
					<td data-icon="&#xe029;"></td>
					<td data-icon="&#xe085;"></td>
				</tr>
				
			</table>
		</div>
	</div>
</div>