<!--arrow buttons-->
<div class="row accountcontainer" style="padding-top:30px;">
	<div class="container">
		<div class="col-md-offset-8 col-md-2 ">
			<p>1 - 10 of 30</p>
		</div>
		<div class="col-md-2 ">
			<div class="btn-group">
				<button type="button" class="btn btn-default">
					<span data-icon="&#xe091;"></span>
				</button>
				<button type="button" class="btn btn-default">
					<span data-icon="&#xe094;"></span>
				</button>
			</div>
		</div>
	</div>
</div>

<!--buttons for templates/completed forms-->
<div class="row accountcontainer" style="padding-top:10px; padding-bottom:3px;">
	<div class="container">
		<div class="col-md-6">
			<div class="btn-group">
				<button type="button" class="btn btn-default">
					<span data-icon="&#xe082;">&nbsp;&nbsp;templates</span>
				</button>
				<button type="button" class="btn btn-default">
					<span data-icon="&#xe083;">&nbsp;&nbsp;completed forms</span>
				</button>
			</div>
		</div>
	</div>
</div>

<!--list of templates below-->
<div class="row accountcontainer" style="padding-bottom:30px;">
	<div class="container">
		<div class="col-md-12">
			<table class="table table-striped">
				<tr>
					<td>Sample Form</td>
					<td><em>Shared with Jon, Brad &amp; Jason</em></td>
					<td data-icon="&#xe016;" style="color:#FBC031;"></td>
					<td data-icon="&#xe029;" style="color:#444444;"></td>
					<td data-icon="&#xe085;" style="color:#C92026;"></td>
				</tr>
				<tr>
					<td>Sample Form</td>
					<td><em>Shared with Jon, Brad &amp; Jason</em></td>
					<td data-icon="&#xe016;" style="color:#FBC031;"></td>
					<td data-icon="&#xe029;" style="color:#444444;"></td>
					<td data-icon="&#xe085;" style="color:#C92026;"></td>
				</tr>
				<tr>
					<td>Sample Form</td>
					<td><em>Shared with Jon, Brad &amp; Jason</em></td>
					<td data-icon="&#xe016;" style="color:#FBC031;"></td>
					<td data-icon="&#xe029;" style="color:#444444;"></td>
					<td data-icon="&#xe085;" style="color:#C92026;"></td>
				</tr>
				<tr>
					<td>Sample Form</td>
					<td><em>Shared with Jon, Brad &amp; Jason</em></td>
					<td data-icon="&#xe016;" style="color:#FBC031;"></td>
					<td data-icon="&#xe029;" style="color:#444444;"></td>
					<td data-icon="&#xe085;" style="color:#C92026;"></td>
				</tr>
				<tr>
					<td>Sample Form</td>
					<td><em>Shared with Jon, Brad &amp; Jason</em></td>
					<td data-icon="&#xe016;" style="color:#FBC031;"></td>
					<td data-icon="&#xe029;" style="color:#444444;"></td>
					<td data-icon="&#xe085;" style="color:#C92026;"></td>
				</tr>
				<tr>
					<td>Sample Form</td>
					<td><em>Shared with Jon, Brad &amp; Jason</em></td>
					<td data-icon="&#xe016;" style="color:#FBC031;"></td>
					<td data-icon="&#xe029;" style="color:#444444;"></td>
					<td data-icon="&#xe085;" style="color:#C92026;"></td>
				</tr>
				<tr>
					<td>Sample Form</td>
					<td><em>Shared with Jon, Brad &amp; Jason</em></td>
					<td data-icon="&#xe016;" style="color:#FBC031;"></td>
					<td data-icon="&#xe029;" style="color:#444444;"></td>
					<td data-icon="&#xe085;" style="color:#C92026;"></td>
				</tr>
				<tr>
					<td>Sample Form</td>
					<td><em>Shared with Jon, Brad &amp; Jason</em></td>
					<td data-icon="&#xe016;" style="color:#FBC031;"></td>
					<td data-icon="&#xe029;" style="color:#444444;"></td>
					<td data-icon="&#xe085;" style="color:#C92026;"></td>
				</tr>
				<tr>
					<td>Sample Form</td>
					<td><em>Shared with Jon, Brad &amp; Jason</em></td>
					<td data-icon="&#xe016;" style="color:#FBC031;"></td>
					<td data-icon="&#xe029;" style="color:#444444;"></td>
					<td data-icon="&#xe085;" style="color:#C92026;"></td>
				</tr>
				<tr>
					<td>Sample Form</td>
					<td><em>Shared with Jon, Brad &amp; Jason</em></td>
					<td data-icon="&#xe016;" style="color:#FBC031;"></td>
					<td data-icon="&#xe029;" style="color:#444444;"></td>
					<td data-icon="&#xe085;" style="color:#C92026;"></td>
				</tr>
				
			</table>
		</div>
	</div>
</div>