body {
	background-color: #EEEEEE;
}

.accountnav {
    background-color: #EEEEEE;
}

.btn-primary {
    background-color: black;
}

.pull-left {
    padding-left: 15px;
}

.pull-right {
   padding-right: 20px;
}

.accountcontainer {
	background-color: white;
}

.accountfooter {
	background-color: #EEEEEE;

}