<!DOCTYPE html>
<html>
<head>
  <title>Formul8r</title>
  <%= stylesheet_link_tag   "login", :media => "all", :type => "text/css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>


<!--Footer
===============================-->
<div class="container">
  <!-- Example row of columns -->

  <footer>

  </footer>
</div> <!-- /container -->
</body>
</html>
